[Unit]
Description=Configure system for laptop mode
Conflicts=tablet-mode.service

[Service]
ExecStart=/usr/bin/sysmoded laptop
StandardOutput=null

[Install]
WantedBy=multi-user.target
