[Unit]
Description=Configure system for tablet mode
Conflicts=laptop-mode.service

[Service]
ExecStart=/usr/bin/sysmoded tablet
StandardOutput=null

[Install]
WantedBy=multi-user.target
